* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting*/
  font-size: 62.5%;

  /* only works when object is not absolutely positioned 
  in relation to the body  */
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
  font-size: 2rem;
  background-color: #fdf2e9;
  overflow-x: hidden;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.6rem;
}
.container-bg {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.6rem;
}
.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.flex-cl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.flex-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.search__input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #cf711f;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.cart-icon {
  height: 4rem;
  width: 4rem;
}
.img-box {
  height: 35rem;
  overflow: hidden;
  object-fit: contain;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.margin-bottom--sm {
  margin-bottom: 4.8rem !important;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.heading-sub {
  font-size: 2.5rem;
  line-height: 1.2;
}
.paragraph {
  font-size: inherit;
  margin-bottom: 2rem;
}
.stock--message {
  grid-column: 1/-1;
  justify-content: center;
}

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.link-text:link,
.link-text:visited {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  color: #fff;
}
.link-text:hover,
.link-text:active {
  color: #555;
}
.link-btn {
  display: inline-block;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #fff;
}
.link-btn:hover {
  color: #cf711f;
}
.menu-link {
  color: inherit;
  text-decoration: none;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  font-weight: 600;

  /* FOR BUTTON */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* TRICK TO ANIMATE BUTTON COLOR */
  transition: all 0.3s;
}

.btn--search {
  background-color: #e67e22;
  color: #fdf2e9;
}
.btn--search:hover {
  background-color: #cf711f;
  color: #fdf2e9;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.btn--start:link,
.btn--start:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--start:hover,
.btn--start:active {
  background-color: #cf711f;
}

.btn--learn:link,
.btn--learn:visited {
  background-color: #fff;
  color: #555;
}

.btn--learn:hover,
.btn--learn:active {
  background-color: #fdf2e9;

  /* TRICK TO ADD BORDER INSIDE */
  box-shadow: inset 0 0 0 3px #fff;
}
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--1-column {
  grid-template-columns: 1fr;
}
.grid--2-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-column {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-column {
  grid-template-columns: repeat(5, 1fr);
}
.grid--7-column {
  grid-template-columns: repeat(7, 1fr);
}

.grid--center-v {
  align-items: center;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  padding: 2px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
/* HELPER/SETTINGS CLASSES */
.center-text {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-b--none {
  margin-bottom: 0;
}

strong {
  font-weight: 500;
}
.color-white {
  color: #fff !important;
}

/* alert */
.alert {
  padding: 2rem;
  font-size: 2rem;
  margin: 2rem;
  color: #fff;
  border-radius: 6px;
  line-height: 1.5;
}
.alert-error {
  background-color: #c52626;
}
.alert-success {
  background-color: #008000;
}

/*****************************/
/* popup section */
/****************************/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  /* transition: all 0.3s; */
  backdrop-filter: blur(10px);
}
.popup__content {
  /* height: 50rem; */
  width: 50%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(#000, 0.2);

  opacity: 0;
  transition: all 0.9s 0.2s;
  padding: 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
}

.popup__text {
  margin-bottom: 4rem;
  font-size: 1.4rem;

  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;

  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;

  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__close:link,
.popup__close:visited {
  font-size: 2.5rem;
  color: #777;
  text-decoration: none;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.popup__close:hover,
.popup__close:active {
  color: #96765f;
}

.popup_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.buttons-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.prod_unavailable {
  margin-bottom: 1rem;
}
.product_quantity-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product_size-box {
  display: flex;
  flex-direction: column;
}

.product_units {
  font-size: 1.6rem;
  color: #cf711f;
}

.height-big {
  height: 75vh;
  overflow-y: scroll;
}
.mg-top-sm {
  margin-top: 10rem !important;
}

/* colors */
.bg-color-orange {
  background-color: orange;
}
.bg-color-yellow {
  background-color: yellow;
}
.bg-color-green {
  background-color: green;
}
