.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* because we want to make header sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/*****************************/
/* MOBILE */
/****************************/
.mobile-btn-cart {
  display: none;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*****************************/
/* STICKY HEADER */
/****************************/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.4rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

/*****************************/
/* NAVIGATION */
/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  transition: all 0.3s;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.navigation-item {
  text-transform: capitalize;
}

.cart-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
}
.cart-icon--box {
  position: relative;
  /* width: 10rem; */
}

.cart-notification {
  font-size: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: #ff3366;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************/
/* forgot password SECTION */
/****************************/
.account-section {
  padding: 4.8rem 0 9.6rem 0;
}
.account-card {
  width: 60rem;
  background-color: #cf711c;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  color: #45260a;

  padding: 2rem 4rem;
}
.forgot_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.forgot_form button {
  width: 50%;
}
/*****************************/
/* HERO SECTION */
/****************************/
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}

.customer-imgs {
  display: flex;
}
.delivered-meals img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-meals img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711c;
  font-weight: 700;
}
/*****************************/
/* RESTAURANT SECTION */
/****************************/
.restaurant-section {
  padding: 4.8rem 0 9.6rem 0;
}
.restaurant {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.restaurant-img {
  width: 25rem;
}
.restaurant-box {
  padding: 4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.065);
  border-radius: 11px;
  margin-bottom: 2rem;
  /* overflow: hidden; */
  transition: all 0.4s;
}
/* .restaurant-info {
} */
.restaurant-box:hover {
  transform: scale(1.05);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.restaurant-info {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
/*****************************/
/* MEALS SECTION */
/****************************/

.meals-section {
  padding: 9.6rem 0;
}

.meals {
  /* horizontal vertical blur transparency */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.flex-end {
  display: flex;
  align-items: end;
  justify-content: end;
}
.end-text {
  align-self: end;
}

.meals:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meals-img {
  width: 100%;
}

.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.meal-name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-price {
  font-size: 2.4rem;
  font-weight: 600;
  color: #e67e22;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.6rem;
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: 0.6fr 2fr;
}

.restaurants {
  background-color: #eb984e;
  color: #fff;
  margin-top: 4.6rem;
  padding: 5rem 1.8rem;
}

/*****************************/
/* DETAILS */
/****************************/
.meals-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}
.meal_img {
  align-self: center;
  justify-self: center;
}
.meals-img--desc {
  width: 80rem;
}
/*****************************/
/* SIGNUP/SIGNIN SECTION */
/****************************/

.cta-section {
  padding: 12.8rem 0;
}

.cta--grid {
  display: grid;
  /* 2/3 = 66.66% + 1/3 = 33.33% */
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to left top, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.cta-sign-up {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-sign-in {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
  background-image: linear-gradient(to left top, #eb984e, #e67e22);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.cta-sign-up .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-img {
  background-image: linear-gradient(
      to left top,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  align-items: end;
}
.signin-form {
  grid-template-columns: 1fr !important;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.qty-form input,
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  border: none;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-section *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.sign-up--link {
  font-size: 2rem;
}
.sign-link:link,
.sign-link:visited {
  color: #fff;
  transition: all 0.3s;
}
.sign-link:hover,
.sign-link:active {
  color: #aaa;
}

/*****************************/
/* Slider SECTION */
/****************************/
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #e67e22;
  /* background-color: #888; */
  opacity: 1;
}

/*****************************/
/* FOOTER */
/****************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.social-links {
  list-style: none;
  display: flex;

  gap: 2.4rem;
}

.logo-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 4.8rem;
}

.meal-description {
  font-size: 1.8rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.flex-end {
  display: flex;
  align-items: end;
  justify-content: end;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************/
/* ADMIN SECTION */
/****************************/
.admin-control_section {
  padding: 4.6rem 0 9.6rem;
}
.admin-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.meal-img--sm {
  width: 20rem;
}
.heading-admin {
  font-size: 4.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6rem;
}
.btn-logout {
  background-color: red;
}
.btn-logout:hover {
  background-color: darkred;
}

/*****************************/
/* VIEW MENU (admin)*/
/****************************/
.heading-box {
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 2fr) 1fr 1fr repeat(2, 0.5fr);
  background-color: #eb984e;
  padding: 2rem;
}
.heading {
  font-size: 2.4rem;
  color: #fff;
}
/*****************************/
/* orders list (admin)*/
/****************************/
.orders-box {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr 2fr 1.2fr 2fr 0.8fr;
  background-color: #eb984e;
  column-gap: 2rem;
  padding: 2rem;
}
.product-style {
  color: #fff;
  text-transform: capitalize;
}

.form__radio-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__radio-group {
  display: flex;
  align-items: center;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 2rem;
  position: relative;
  padding-left: 4rem;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
}

.form__radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
.form__radio-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
/*****************************/
/* CART */
/****************************/
.cart-section {
  padding: 9.6rem 4.8rem;
}

.cart-container {
  max-width: 130rem;
  margin: 0 auto;
}

.cart-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  padding: 1.3rem;
  grid-template-columns: 2fr repeat(2, 1fr);
  margin-bottom: 2rem !important;
}

.cart-img {
  width: 12rem;
}
.qty-form {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-right: 3rem;
}
.cart-item {
  display: grid;
  padding: 1.3rem;
  gap: 5rem;
  grid-template-columns: 3fr repeat(2, 2fr);
}
.cart-delete {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  color: #cf711f;
}
.subtotal_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.subtotal {
  grid-column: 3;
  border-top: 5px solid #cf711f;
  border-radius: 2px;
}
.total {
  margin: 1.2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.amount {
  font-size: 3rem;
  color: #e67e22;
  font-weight: 600;
}

/*****************************/
/* MENU SECTION */
/****************************/

.menu-section {
  padding: 9.6rem 0 9.6rem;
}
.menu-div {
  padding: 2rem 0;
  height: 100vh;
  overflow-y: scroll;
}

.category-box {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 2rem;
  height: 100vh;
  background-color: #e67e22;
}
.category-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s;
  list-style: none;
}
.category-list li {
  text-transform: capitalize;
  font-size: 2rem;
}
/*****************************/
/* checkout */
/****************************/
.checkout-section {
  padding: 4.6rem 0 9.6rem;
}
.contact-cart {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.contact__option {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.contact-text {
  font-size: 1.4rem;
}
.contact-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.delivery_detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
}
.delivery_heading {
  display: flex;
  align-items: center;
}
.delivery_heading--option {
  display: flex;
  gap: 1rem;
}
.delivery_details-more {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border: 0.2px solid #000;
}
.delivery_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery--product-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.checkout_grid {
  display: grid;
  grid-template-columns: 1fr 35rem;
  gap: 2rem;
}

.checkout {
  background-color: #fff;
  padding: 2rem;
}
.heading-sub {
  font-size: 2.2rem;
}

.product-type {
  font-size: 2rem;
  text-transform: capitalize;
}

.cart-info {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
.total-amt {
  margin: 1.2rem 0;
  display: grid;
  align-items: center;
  /* font-size: 2.5rem; */
  gap: 2rem;
}
.total-price {
  font-size: 3rem;
}
/*****************************/
/* payment */
/****************************/
.payment-section {
  padding: 4.6rem 0 9.6rem;
}

.payment {
  margin: 10rem auto;
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
}
.form-group input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #cf711c;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}

/*****************************/
/* account */
/****************************/
.account_grid {
  display: grid;
  grid-template-columns: 35rem 1fr;
  gap: 2rem;
}
.big--gap {
  gap: 2rem;
}
.text-transform--capitalize {
  text-transform: capitalize !important;
}
.account-option {
  background-color: #fff;
  padding: 2rem;
  height: fit-content;
}
.account-information {
  background-color: #fff;
  padding: 2rem;
}
.account-card-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.account-details {
  border: 0.5px solid #aaa;
  padding: 2rem;
  margin: 2rem 0;
}
.account-details hr {
  margin-bottom: 2rem;
}
.sub_text {
  font-size: 1.8rem;
  color: #888;
}
.address-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*****************************/
/* edit account */
/****************************/
.profile-section {
  padding: 4.6rem 0 9.6rem;
  transition: transform 1s, opacity 1s;
  /* height: 100vh; */
}
.heading {
  display: flex;
  gap: 1.8rem;
}
.input-box {
  width: 50%;
  height: 6rem;
  font-size: 2rem;
  padding: 2rem;
}
.address-box {
  width: 100%;
  height: 6rem;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.side-by--side {
  display: flex;
  margin: 3rem 0;
  gap: 1.8rem;
}
.btn--confirm:link,
.btn--confirm:active {
  margin: 1rem 0;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.qty-btn {
  font-size: 3rem;
  background-color: #cfab8e;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}
.quantity-value {
  width: 7rem;
  padding: 1rem;
  font-size: 1.5rem;
  /* border: none; */
  background-color: #f8f3f2;
}

/*****************************/
/* order details */
/****************************/
.order-info {
  margin: 2rem 0;
}
.order-details {
  display: flex;
  align-items: center;
  gap: 5rem;
  border: 0.5px solid #aaa;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.meal-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.item-status {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
}
.sub_text strong {
  font-weight: 600;
}

/* .order-img{
  width: ;
} */
/*****************************/
/* saved items */
/****************************/
.wishlist_details {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.wish-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  border: 0.5px solid #aaa;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.btn-smaller {
  font-size: 1.8rem;
}
.order-img {
  width: 12rem;
}
.align-center {
  margin: 10rem auto;
}

/*****************************/
/* delete account section */
/****************************/
.delete_account {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 2rem;
}
.email {
  padding: 2rem;
  font-size: 2rem;
}
.btn--close-act {
  font-size: 1.8rem;
}
